<a [routerLink]='["/"]'><i class="fas fa-arrow-left"></i></a>
<i class="fas fa-print" (click)="print()"></i>
<div *ngFor="let present of presents | async">
  <div *ngIf="present.thankYou == false">
    <ul >
      <div class="thanks">
      <li class="text-thanks">
           <p>
             Hi {{present.giftFrom}},
           </p>
           <p>Thanks for your {{present.whatItIs}}!</p>
            <p>  I gave it {{present.rating}} out of 5 stars.</p>
           <p>From {{present.giftTo}}</p>
      </li>
    </div>
    </ul>
  </div>
</div>