
<div class="container" id="login">

    <h1>Go to the North Pole</h1>
    
    <form #loginForm="ngForm" (ngSubmit)="login(loginForm.value)">
    
      <div class="email">
        <!-- <label for="email">Email</label> -->
        <input
          type="email"
          name="email"
          #emailAddress="ngModel"
          email
          placeholder="Email Address"
          ngModel>
          
      </div>
      
      <div>
        <!-- <label for="password">Password</label> -->
        <input 
          type="password"
          name="password"
          pattern ="^(?=.*\d)(?=.*[a-z])(?=.*[A-Z])(?!.*\s).*$"
          minlength="6"
          #passwordSecurity="ngModel"
          placeholder="Password"
          ngModel>
          
      </div>
      <p>Create an account <a [routerLink]="['/register']">here</a></p>
      <button type="submit">Login</button>
      <div *ngIf = "emailAddress.invalid && emailAddress.touched">
          <small *ngIf="emailAddress.errors.required" >Email is required</small>
          <small *ngIf="emailAddress.errors.email">Email is invalid</small>
      </div>
      <div *ngIf="passwordSecurity.invalid && passwordSecurity.touched">
          <small *ngIf = "passwordSecurity.errors.required">Password required</small>
          <small *ngIf = "passwordSecurity.errors.minlength">Password must be at least 6 characters</small>
          <small *ngIf = "passwordSecurity.errors.pattern">Password must contain a combination of uppercase, lowercase and numbers</small>
        </div>
    </form>
      <div class="reset">
        <input
        [(ngModel)]="forgottenPasswordEmail"
        type="email"
        id="forgottenPasswordEmail"
        name="forgottenPasswordEmail">
        
        <button (click)="forgotPassword()">Reset Password</button>
      </div>
      
    
  </div>