#login{
    background-image: url("../../assets/background.png");
    min-height: 100vh;
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    width:100%;
    position: absolute;
    overflow: scroll;
}

input, button{
    padding:10px;
    margin:10px;
    bottom:30px;
    position: relative;
    font-family:  'Indie Flower';
}

h1{
   font-family: 'Mountains of Christmas';
   font-size: 3rem;
   position: relative;
   bottom:30px;
}

.reset{
    /* display:flex;
    flex-direction: column; */
    top: 110px;
    position: relative;
}

button{
    background-color:crimson;
    color:white
}

p {
    top: 50px;
    position: relative;
}

small {
    color:crimson;
}

@media screen and (min-width: 600px){
    h1{
        font-size: 5rem;
        bottom:60px;
    }

    input, button{
        bottom:50px;
    }
}


@media screen and (min-width: 900px){

input, button{
    bottom:60px;
}

h1{
   bottom:70px;
   font-size: 8rem
}


}