#login{
    background-image: url("../../assets/background.png");
    min-height: 100vh;
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    width:100%;
    position: absolute;
}

input, button{
    padding:10px;
    margin:10px;
    bottom:100px;
    position: relative;
    font-family:  'Indie Flower';
}

h1{
   font-family: 'Mountains of Christmas';
   font-size: 8rem;
   position: relative;
   bottom:130px;
}

button{
    background-color:crimson;
    color:white
}


