/* You can add global styles to this file, and also import other style files */
*{
    box-sizing: border-box;
    margin:0;
}

body{
    /* background-image: url("../src/assets/santa-claus-2927962__340.png"); */
    /* background-color: url('./assets/snowman.jpg'); */
    min-height: 100vh;
    font-family:'Indie Flower';
    
}

.container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    height: auto;
    width: 60%;
}

input, button {
    border-radius: 5px;
    border: 0.5px solid black;
}

img {
    height: 50px;
    width: 50px;
    margin: 10px;
}


