<form #homeForm="ngForm" (ngSubmit)="create(homeForm.value); homeForm.reset()" >

  <input  
    ngModel
    name="giftFrom"
    type="text"
    placeholder="Who gave you the present?"
  >
  <input  
    ngModel
    name="giftTo"
    type="text"
    placeholder="Who you gave a present to?"
  >

  <input  
    ngModel
    name="whatItIs"
    type="text"
    placeholder="What is the present?"
  >
  <input  
    ngModel
    name="rating"
    type="range"
    min="0"
    max="5"
    placeholder="Star rating"
  >
  <input  
    ngModel
    name="thankYou"
    type="checkbox"
  >

  <input
    ngModel
    type="file"
    name="picture"
    (change)="picUploaded($event)">
    <button (click)="onUpload()">Upload</button>
     {{currentDate?.toDate() | date: "dd/MM/yy"}} 


<button type="submit">Submit</button>

</form>

<div *ngFor="let present of presents | async">
  <ul>
    <li>
        {{present.date}}
        {{present.giftFrom}}
        {{present.giftTo}}
        {{present.whatItIs}}
        {{present.rating}}
        {{present.thankYou}}
        {{present.picture}}

        <button (click)="delete(present)">Delete</button>
        <button (click)="showInput(present)">Edit info</button>
    </li>
  </ul>

  <form #updateForm="ngForm" (ngSubmit)="update(present)" [hidden]="present.hideEdit">
    <input
      name="giftFrom"
      [(ngModel)]="present.giftFrom">

    <input 
      name="giftTo"
      [(ngModel)]="present.giftTo">

    <input 
      name="whatItIs"
      [(ngModel)]="present.whatItIs">

    <input 
      name="rating"
      type="range"
      min="0"
      max="5"
      [(ngModel)]="present.rating">
    
    <input 
      name="thankYou"
      [(ngModel)]="present.thankYou"
      type="checkbox">

      <input 
      name="picture"
      [(ngModel)]="present.picture"
      type="file"
      value = "present.picture">
    
    <button type="submit">Update</button>
    
  </form>
</div>

<button (click)="logout()">LogOut</button>